{% extends "auth/auth_base.html" %}

{% block main_cadre %}

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class=" o-hidden border-0  my-5">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-primary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
          {% endfor %}
        </div>

      </div>

    </div>

  </div>

</body>

{% endblock %}
