<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
body{margin: 0px;}
</style>
<body>
	<div>
		<div id="m_8516883589540277187main" style="text-align:center">
			<div id="m_8516883589540277187icon_placeholder" style="margin-top:40px">
				<a href="{site_url}}" target="_blank" data-saferedirecturl="https://www.google.com/url?q={{site_url}}&amp;source=gmail&amp;ust=1604123517539000&amp;usg=AFQjCNEbKGai_jUeglSOfMfGjIgSbY_kRg">
					<img width="94" height="94" src="{{site_url}}/logo.png" alt="Vit logo" class="CToWUd">
				</a>
			</div>

			<div id="m_8516883589540277187text" style="color:#202020;font-family:Source Sans Pro,sans-serif;font-size:14px;text-decoration:none;max-width:455px;margin:0 auto;line-height:18px">
				<h4 style="margin:40px;font-weight:600;font-size:16px;color:#000000">
                    Bienvenue et merci pour votre inscription!
				</h4>

				<p>Veuillez terminer votre inscription dans les 24 heures en utilisant le lien ci-dessous!</p>

				<p style="margin:25px 0">
					<a href="{{web_url}}/auth/confirm/{{token}}" style="display:inline-block;padding:8px 20px;text-decoration:none;font-weight:600;color:#236192;border-radius:5px;border:2px solid #236192" target="_blank">
						TERMINER VOTRE INSCRIPTION
					</a>
				</p>

				<p>Si vous avez des questions ou avez besoin d'aide, veuillez<br>
					<a href="{{site_url}}#contact" style="text-decoration:none;color:#0675c1;font-weight:600" target="_blank" >
						nous contacter
					</a>.
				</p>
				<br>

				<p>Cordialement,</p>

				<p style="font-weight:bold">L'équipe Podipo</p><div class="yj6qo"></div><div class="adL">
				<p style="font-weight:bold">L'équipe VIT</p><div class="yj6qo"></div><div class="adL">
			</div></div><div class="adL">
		</div></div><div class="adL">
</body>
</html>