{% extends "base_s.html" %}



{% block container %}

  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none; width: 350px;">
      <strong>Erreur!</strong> <span id="error_data"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="accordion" class="">  
      <!-- <div class="row"> -->
        <div class="card shadow mb-4 ">
          <div class="card-header py-3" id="headingImportEtudiant">
            
            <h6 class="m-0 font-weight-bold text-primary collapsed" data-toggle="collapse" data-target="#collapseImportEtudiant" aria-expanded="false" aria-controls="collapseImportEtudiant">
              Recherche
            </h6>
          </div>
          <div id="collapseImportEtudiant" class="collapse" aria-labelledby="headingImportEtudiant" data-parent="#accordion">
            <div class="card-body">
                <!-- <form method="POST" action="{{ url_for('main.create_etudiant') }}" enctype="multipart/form-data">
                  <p><input type="file" name="file"></p>
                  <p><input class="btn btn-primary" type="submit" value="Soumettre"></p>
                </form> -->
                <form class=""  method="POST" id="formPresence_unique">
                  {{ form.csrf_token }}
                    <div class="modal-body">
                        <div class="form-group row">
                          <div class="col-sm-2">
                            <label for="matricule">Matricule</label>
                            {{ form.matricule(class_='form-control form-control-user',placeholder="Matricule",value="" )}}
                          </div>
                            <div class="col-sm-2">
                            <label for="date">Date debut</label>
                            {{ form.date_debut(class_='form-control form-control-user',placeholder="Date debut",type="date",value="")}}
                          </div>
                          <div class="col-sm-2">
                            <label for="date">Date fin</label>
                            {{ form.date_fin(class_='form-control form-control-user',placeholder="Date fin",type="date",value="")}}
                          </div>
                          
          
  
                          
                          <div class="col-sm-2">
                            <br>
                            {{ form.submit(class=" btn btn-primary") }}
                          </div>
                       
                          
                        </div>
                    </div>
                    
                </form>

            </div>
          </div>
        </div>

    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des presences 
          {% if fm %}
          [  {{ form.groupe.data }} | {{ form.date.data.strftime('%d-%m-%Y') }}]</h6>
          {% endif %}
        </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTablePresence" width="100%" cellspacing="0">
           <thead>
              <tr>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Antenne</th>
                <th>Filière</th>
                <th>Niveau</th>
                <th>Groupe</th>
                <th>Etat</th>
              </tr>
           </thead>
           <tbody>
            
           </tbody>
           <tfoot>
              <tr>
                <th>Nom</th>
            <th>Prénoms</th>
            <th>Antenne</th>
            <th>Filière</th>
            <th>Niveau</th>
            <th>Groupe</th>
            <th>Etat</th>
              </tr>
           </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>


{% endblock %}