{% extends "base.html" %}


{% block container %}




<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mon Etablissement</h6>
      </div>
      <div class="card-body">
        <form class="" method="POST" action="{{ url_for('main.etablissement') }}" >
          {{ formE.csrf_token }}
            <div class="modal-body">
                <div class="form-group row">
  
                  <div class="col-sm-4">
                    <label for="name">Dénomination</label>
                    {{ formE.name(class_='form-control form-control-user',placeholder="Nom de l'entreprise",type="text",value=ets.denomination)}}
                  </div>
  
                  <div class="col-sm-4">
                    <label for="numero">Numéro</label>
                    {{ formE.numero(class_='form-control form-control-user',placeholder="Numéro",type="text",value=ets.numero)}}
                  </div>
                  <div class="col-sm-4">
                    <label for="numero">Localisation</label>
                    {{ formE.localisation(class_='form-control form-control-user',placeholder="Localisation",type="text",value=ets.localisation)}}
                  </div>
  
                 
                   
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            {{ formE.submit(class="btn btn-primary") }}
  
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">

  <div class="container-fluid col-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mes informations</h6>
      </div>
      <div class="card-body">
        <form class="" method="POST" action="{{ url_for('main.profil') }}" >
          {{ formP.csrf_token }}
            <div class="modal-body">
                <div class="form-group row">
  
                  <div class="col-sm-6">
                    <label for="date">Nom et prenoms</label>
                    {{ formP.name(class_='form-control form-control-user',placeholder="Nom et prenoms",type="text",value=user.name)}}
                  </div>
  
                  <div class="col-sm-6">
                    <label for="date">Email</label>
                    {{ formP.mail(class_='form-control form-control-user',placeholder="Email",type="text",value=user.email)}}
                  </div>
                   
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            {{ formP.submit(class="btn btn-primary") }}
  
            </div>
        </form>
      </div>
    </div>
  </div>



  <div class="container-fluid col-6">
    <div class="card shadow mb-4 ">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Securité</h6>
      </div>
      <div class="card-body">
        <form class="" method="POST" action="{{ url_for('main.etablissement') }}" >
          {{ securiteForm.csrf_token }}
            <div class="modal-body">
                <div class="form-group row">
  
                  <div class="col-sm-6">
                    <label for="name">Mot de passe</label>
                    {{ securiteForm.password(class_='form-control form-control-user',placeholder="Mot de passe",type="password")}}
                  </div>
  
                  
                  <div class="col-sm-6">
                    <label for="numero">Confirmation</label>
                    {{ securiteForm.confirmPassword(class_='form-control form-control-user',placeholder="Confirmation mot de passe",type="password")}}
                  </div>       
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            {{ securiteForm.submit(class="btn btn-primary") }}
  
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}