{% extends "base_etudiant.html" %}


{% block container %}

  <div class="container-fluid" style="padding-top: 100px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <!-- DataTales Example -->
    
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="padding-bottom:0 !important">
          <div class="row">
            <h6 class="m-0 font-weight-bold text-primary col-sm-2">Liste des presences globale</h6>
            <form class="col-sm-6" method="POST" action="{{ url_for('controle.rapport') }}" >
              {{ form.csrf_token }}
                    <div class="form-group row" style="">
                        
                      <div class="col-sm-8">
                        {{ form.antenne(class_='form-control form-control-user',placeholder="Antenne",value="" ,options=['ABIDJAN','ABENGOUROU','ABOISSO','BOUAKE','DALOA','KORHOGO'])}}
                      </div>
                      <div class="col-sm-3">
                        {{ form.submit(class_=" btn btn-primary") }}
                      </div>
                    </div>
                
            </form>
          </div>
        </div>
        
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Filière</th>
                <th>Niveau</th>
                <th>Antenne</th>
                <th>Effectif</th>
                <th>Presents</th>
                <th>Absent</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Filière</th>
                <th>Niveau</th>
                <th>Antenne</th>
                <th>Effectif</th>
                <th>Presents</th>
                <th>Absent</th>
              </tr>
            </tfoot>
            <tbody>
          {% for presence in presences %}
              <tr>
               
                <td>{{ presence[0] }}</td>
                <td>{{ presence[1] }}</td>
                <td>{{ presence[2] }}</td>
                <td>{{ presence[3] }}</td>
                <td class="pst">{{ presence[4] }}</td>
                <td class="abs">{{ presence[3] - presence[4]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}

