
{% extends "base.html" %}


{% block container %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Rendez-vous</h1>
    <p class="mb-4"></a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mes Rendez-vous</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Heure début</th>
                  <th>Heure fin</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Jour</th>
                    <th>Heure début</th>
                    <th>Heure fin</th>
                    <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
                
              </tbody>
            </table>
          </div>
      </div>
    </div>
</div>

{% endblock %}